################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KLBlazor/FileContentIndex/90fcfb33-5275-45d3-8803-d1b935a0273f.vsidx
