
/* ---- Colors ---- */
$blueMain: #101e2e;
$blueMedium: #23425c;
$blueLight: #2b6386;
$blueCyan: #2fb3f3;
$blueCyanLight: #70c6f1;
$blueDark: #0e1922;
$orangeMain: #e08e5e;
$orangeDark: #c97a4c;
$greenMain: #739500;
$anchorColor: $blueLight;

$outlineColor: #1a78bd;
$listItemThumbColor: $outlineColor;

$btnInfoBackgroundColor: $orangeMain;
$btnInfoBorderColor: $orangeDark;
$buttonGradientTop: $blueCyan;
$buttonGradientBottom: $blueCyan;
$baseFontColor: rgb(66, 66, 66);

$listBoxBorderTopWidth: 1px;
$listBoxBorderBottomWidth: 1px;
$listBoxNoItemsDisplay: 5;
$listItemHeight: 27px;

$font-size-base: 1rem;
$font-weight-base: 100;
$font-family-base: 'robotoregular';

$h3TextColor: $blueLight;
$h4TextColor: $blueCyan;
$paraTextFontSize: 1.0rem;

$cardBorderRadius: .425rem;
$cardTextColor: #949494;
$cardHeaderFontSize: 1.25rem;
$cardHeaderFontColor: $blueLight;
$cardTopBtmBorderColor: #FFF;
$cardHeaderBGColor: #FFF;
$cardBodyColor: rgb(58, 58, 58);
$cardBodyBGColor: #FFF;
$cardFooterBGColor: #FFF;

$scrollbarBGColor: $blueMain;
$scrollbarThumbColor: $orangeMain;


